/* For removing iGEM default settings

#sideMenu, #top_title, .patrollink, #firstHeading, #home_logo, #sideMenu { display:none; }
#content { padding:0px; width:100%; margin-top:-7px; margin-left:0px; border:none;}
body, html {background-color:white; width: 100%; height: 100%;}
#bodyContent h1, #bodyContent h2, #bodyContent h3, #bodyContent h4, #bodyContent h5 { margin-bottom: 0px; }
#bodyContent a[href ^="https://"], .link-https { padding-right:0px;}


*/

html {
    overflow: hidden;
}

body {
    background-image: linear-gradient(90deg, rgba(10,116,130,1) 30%, rgba(11,83,148,1) 100%);
    height: 100vh;
}

#inflammatory {
    position: absolute;
    left: 100px;
    top: 700px;
}

#bowel {
    position: absolute;
    left: 100px;
    top: 900px;
}

#disease {
    position: absolute;
    left: 100px;
    top: 1100px;
}

#adherent {
    position: absolute;
    left: 100px;
    top: 700px;
}

#invasive {
    position: absolute;
    left: 100px;
    top: 800px;
}

#escherichia {
    position: absolute;
    left: 100px;
    top: 900px;
}

#coli {
    position: absolute;
    left: 100px;
    top: 1000px;
}

#role1 {
    position: absolute;
    opacity: 0;
    left: 100px;
    top: 700px;
}

#role2 {
    position: absolute;
    opacity: 0;
    left: 100px;
    top: 700px;
}

#role3 {
    position: absolute;
    opacity: 0;
    left: 100px;
    top: 700px;
}

#colicins {
    position: absolute;
    opacity: 0;
    left: 600px;
    top: 200px;
    width: 700px;
}

#treating {
    position: absolute;
    opacity: 0;
    left: 370px;
    top: 300px;
    width: 700px;
}

#howdo {
    position: absolute;
    opacity: 0;
    left: 100px;
    top: 200px;
    width: 700px;
}

#affect {
    position: absolute;
    opacity: 0;
    left: 100px;
    top: 300px;
    width: 700px;
}

.rectangle {
    width: 100px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 500px;
}

#rect1 {
    right: -100px;
}

#rect2 {
    right: -300px;
}

#rect3 {
    right: -500px;
}

#rect4 {
    right: -700px;
}

#rect5 {
    right: -900px;
}

#rect6 {
    right: -1100px;
}

#square {
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 580px;
    left: 1350px;
    opacity: 0;
}

#square2 {
    width: 3px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 590px;
    left: 1220px;
    opacity: 0;
}

#square3 {
    width: 3px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 1350px;
    opacity: 0;
}

#bigsquare {
    opacity: 0;
    background-color: white;
    position: absolute;
    width: 1400px;
    height: 650px;
}

#logo {
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    opacity: 0;
}

#svg_circle {
    position: absolute;
    top:290px;
    left: 450px;
    width: 400px;
    opacity: 0;
}

#svg_square {
    position: absolute;
    top: 290px;
    left:850px;
    width: 400px;
    opacity: 0;
}