/* For removing iGEM default settings

#sideMenu, #top_title, .patrollink, #firstHeading, #home_logo, #sideMenu { display:none; }
#content { padding:0px; width:100%; margin-top:-7px; margin-left:0px; border:none;}
body, html {background-color:white; width: 100%; height: 100%;}
#bodyContent h1, #bodyContent h2, #bodyContent h3, #bodyContent h4, #bodyContent h5 { margin-bottom: 0px; }
#bodyContent a[href ^="https://"], .link-https { padding-right:0px;}


*/
body {
	background-color: white;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	margin: 0px;
}

html {
    overflow-x: hidden;
}

* {
	box-sizing: border-box;
}


a {
	text-decoration: none!important;
}

.nav-item {
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 1em;
}

.nav-item:hover {
	background-color: #eee;
}

.nav-link {
	color: var(--text-color)!important;
}

.navbar-brand {
    padding-left: 2em;
}

#headeranimation {
    width: 100vw;
}

.container {
    margin-top: 4em;
    margin-bottom: 4em;
    width: 60%;
}

h1{
	font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    color: #0b5394;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    color: #0a7482;
}

footer {
    height: 10em;
    background-image: linear-gradient(90deg, rgba(10,116,130,1) 30%, rgba(11,83,148,1) 100%);
    width: 100vw;
}

#footer {
    width: 80%;
    padding-top: 4em;
    color: white;
}